.admin_content{
  display: flex;
}

.admin_users, .admin_users_last{
  display: flex;
  flex-direction: column;
}

.admin_users{
  margin-right: 5rem;
}

.admin_btn{
  text-decoration: none;
  color: $blu-c;
  padding: .5rem 1rem;
  box-shadow: var(--box-shadow-lg);
  border-radius: var(--border-radius);
  border: 2px solid $blu-c;
}
.admin_btn:hover{
  color: $red;
}

.admin_users_title{
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
}

.admin_users_list{
  list-style-type: none;
}