.candidat_container{
  display: flex;
  h2{
    color: $blu-d;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .candidat_left_content{
    padding: 2rem 1rem;
    width: 30%;



    .identite{
      display: flex;
      flex-direction: column;
      justify-content: center;

      img{
        max-width: 100px;
        align-self: center;
        margin-bottom: 3rem;
      }

    }
  }
  .candidat_right_content{
    padding: 2rem 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;

    h2{
      color: #E8464E;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.candidat_content_box{
  display: flex;
  margin-bottom: .5rem;
}

.candidat_info{
  margin-right: 1rem;
  font-weight: 300;
}

.titre_profil{
  font-weight: 900;
  text-transform: uppercase;
}